.navElement {
	display: block;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-medium);
	font-family: var(--font-family-sans);
	color: var(--foreground);
	padding: 0.5rem 0.75rem;
	border-radius: var(--radius-md);
	transition:
		border-bottom 0.15s,
		color 0.15s;
	cursor: pointer;
	outline: none;
	border-bottom: 2px solid transparent;
}

.navElement:hover,
.navElement:focus {
	border-bottom: 2px solid var(--primary);
	color: var(--primary);
	background: none;
}

.active {
	border-bottom: 2px solid var(--primary);
	color: var(--primary);
	font-weight: var(--font-weight-bold);
	background: none;
}
